<div class="row list-lesson" [ngClass]="{'open':showLessons}">
    <div class="col-md-3" *ngFor="let lsn of lessons" (click)="selectLesson(lsn)">
		<div class="card">
			{{ lsn.name }}
		</div>
	</div>
</div>

<div class="row">
	<h2>{{ lesson.name }}</h2>
</div>

<div class="row">
	<div class="col-md-12">
		{{ lesson.description }}
  	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="accordion" role="tablist">
			<div class="card" *ngFor="let example of lesson.examples; let i = index;">
    			<div class="card-header" (click)="openTab(i)">
      				<h5 class="mb-0">{{ example.name }}</h5>
    			</div>

    			<div class="collapse" [ngClass]="{'show':example.open}">
	      			<div class="card-body">
	        			<pre>{{ example.text }}</pre>
	      			</div>
    			</div>
  			</div>
		</div>
  	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		{{ lesson.relations}}
  	</div>
</div>